{%- if not skip_peewee -%}
from peeweext.sea import Peeweext
{% endif %}
{%- if not skip_cache -%}
from cachext.exts import Cache
{% endif %}
{%- if not skip_async_task -%}
from sea.contrib.extensions.celery import AsyncTask
{% endif %}
{%- if not skip_bus -%}
from sea.contrib.extensions.celery import Bus
{% endif %}
{%- if not skip_sentry -%}
from sea.contrib.extensions.sentry import Sentry
{% endif %}

{%- if not skip_peewee -%}
pwx = Peeweext()
{% endif %}
{%- if not skip_cache -%}
cache = Cache()
{% endif %}
{%- if not skip_async_task -%}
async_task = AsyncTask()
{% endif %}
{%- if not skip_bus -%}
bus = Bus()
{% endif %}
{% if not skip_sentry -%}
sentry = Sentry()
{% endif -%}
