{%- if not skip_peewee -%}
from peeweext.sea import Peeweext
{% endif %}
{%- if not skip_cache -%}
from cachext.exts import Cache
{% endif %}
{%- if not skip_celery -%}
from sea.contrib.extensions.celery import Celery
{% endif %}
{%- if not skip_sentry -%}
from sea.contrib.extensions.sentry import Sentry
{% endif %}

{%- if not skip_peewee -%}
pwx = Peeweext()
{% endif %}
{%- if not skip_cache -%}
cache = Cache()
{% endif %}
{%- if not skip_celery -%}
celeryapp = Celery()
{% endif %}
{% if not skip_sentry -%}
sentry = Sentry()
{% endif -%}
