{%- if not skip_orator -%}
from sea.contrib.extensions.orator import Orator
{% endif %}
{%- if not skip_cache -%}
from sea.contrib.extensions.cache import Cache
{% endif %}
{%- if not skip_celery -%}
from sea.contrib.extensions.celery import Celery
{% endif %}
{%- if not skip_sentry -%}
from sea.contrib.extensions.sentry import Sentry
{% endif %}

{%- if not skip_orator -%}
db = Orator()
{% endif %}
{%- if not skip_cache -%}
cache = Cache()
{% endif %}
{%- if not skip_celery -%}
celeryapp = Celery()
{% endif %}
{% if not skip_sentry -%}
sentry = Sentry()
{% endif -%}
