from configs.default import *
import os

DEBUG = False

{% if not skip_celery -%}
CELERY_BROKER_URL = os.environ['CELERY_BROKER_URL']
{%- endif %}

{% if not skip_cache -%}
CACHE_HOST = os.environ['CACHE_HOST']
CACHE_PASSWORD = os.environ['CACHE_PASSWORD']
{%- endif %}

{% if not skip_orator -%}
DATABASES['db'].update({
    'host': os.environ['DB_HOST'],
    'password': os.environ['DB_PASSWORD'],
})
{%- endif %}
