{%- if not skip_orator -%}
orator
mysqlclient
{% endif -%}
{%- if not skip_cache -%}
redis
{% endif -%}
{%- if not skip_consul -%}
python-consul
{% endif -%}
{%- if not skip_celery -%}
celery
{% endif -%}
pytest
