sea
{% if not skip_orator -%}
sorator
mysqlclient
{% endif -%}
{%- if not skip_cache -%}
redis
{% endif -%}
{%- if not skip_celery -%}
celery
{% endif -%}
{%- if not skip_sentry -%}
raven
{% endif -%}
