from configs.default import *
import os

DEBUG = False

{% if not skip_async_task -%}
ASYNC_TASK_BROKER_URL = os.environ['ASYNC_TASK_BROKER_URL']
{%- endif %}
{% if not skip_bus -%}
BUS_BROKER_URL = os.environ['BUS_BROKER_URL']
{%- endif %}

{% if not skip_cache -%}
CACHE_HOST = os.environ['CACHE_HOST']
CACHE_PASSWORD = os.environ['CACHE_PASSWORD']
{%- endif %}

{% if not skip_peewee -%}
PW_DB_URL = 'sqlite:///{{ project }}.db'
{%- endif %}
