{% if not skip_orator -%}from .orator import *{%- endif %}
{% if not skip_celery -%}from .celery import *{%- endif %}
{% if not skip_cache -%}from .cache import *{%- endif %}

{% if not skip_sentry -%}
SENTRY_DSN = None
{%- endif %}

TESTING = False
DEBUG = True

MIDDLEWARES = [
    'sea.middleware.ServiceLogMiddleware',
    'sea.middleware.RpcErrorMiddleware'
]
