{% if not skip_orator -%}from . import orator as ORATOR{%- endif %}
{% if not skip_celery -%}from . import celery as CELERY{%- endif %}
{% if not skip_cache -%}
CACHE_BACKEND = 'Redis'
CACHE_PREFIX = '{{ project }}'
CACHE_HOST = 'localhost'
CACHE_DB = 0
CACHE_PORT = 6379
CACHE_PASSWORD = 'abcdef'
{%- endif %}

{% if not skip_sentry -%}
SENTRY_DSN = None
{%- endif %}

TESTING = False
DEBUG = True

MIDDLEWARES = [
    'sea.middleware.ServiceLogMiddleware',
    'sea.middleware.RpcErrorMiddleware'
]
