DATABASES = {
    'default': 'db',
    'db': {
        'driver': 'mysql',
        'host': 'localhost',
        'database': '{{ project }}',
        'user': '{{ project }}',
        'password': '',
        'prefix': ''
    }
}
