DATABASES = {
    'sqlite': {
        'driver': 'mysql',
        'host': 'localhost',
        'database': {{ project }},
        'user': {{ project }},
        'password': '',
        'prefix': ''
    }
}
